
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Demo Project</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/content1">Content1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/content2">Content2</a>
      </li>
    </ul>
  </div>
</nav>
